<div class="row center-xs notes">
  <div class="col-xs-6 creator">
    <app-note-creator (createNote)="onCreateNote($event)"></app-note-creator>
  </div>
  <div class="notes col-xs-8">
    <div class="row between-xs">
      <app-note-card 
        class="col-xs-4"
        [note]="note"
        *ngFor="let note of notes"
        (checked)="onNoteChecked($event)"
      >
      </app-note-card>
    </div>
  </div>
</div>
<!-- 
  we know that the note itself is being passed in (this.note)
  and so could reference it using $event 
    (checked)="onNoteChecked($event)" 
  but we don't need the note, we just need its index - 
  which we can get by adding local var i to the *ngFor expression
-->